@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Занятия по сальсе с 10 июня</h1>

<p>
    <a asp-action="Create">Создать новое</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarmUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choreo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarmUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choreo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
